﻿
body
{
    background-image: url("../Imagens/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent;
    border-radius: 0;
}
.navbar-nav>li a {
    color:#FFF;
}
footer{
    color: #1f7a1f;
}

.selecionarImagem
{
    color:transparent;
}
