{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}?</h2>
<h3>{{ message }}</h3>

<body class="homepage">
<!--Header-->
<div class="container">

    <!-- Elementos do Grupo -->
    <div class="row">

        <div class="col-lg-14">
            <h2 class="page-header">Elementos do grupo</h2>
        </div>
        <div class="border col-lg-3 text-center">
            <img class="img-circle img-responsive img-center" src="../../static/app/Imagens/josimar_cassandra.jpg" alt="">
            <h3>Josimar Cassanda</h3>
            <a ><b/>E-mail: josimarcassanda@ua.pt</a>
            <br/>
            <a ><b/>Num.Mec: 66109</a>
            <li><a href="https://www.facebook.com/josimar.cassandra/">Facebook</a></li>
        </div>

        <div class="border col-lg-3 text-center">
            <img class="img-circle img-responsive img-center" src="../../static/app/Imagens/catarina_1.jpg" alt="">
            <h3>Catarina Vinagre</h3>
            <a ><b/>E-mail: catarinajvinagre@ua.pt</a>
            <br/>
            <a ><b/>Num.Mec: 67828</a>
            <li><a href="https://www.facebook.com/catarina.vinagre.3/">Facebook</a></li>
        </div>
    </div>
</div>
<div></div>
</body>

{% endblock %}
