﻿{% extends "app/layout.html" %}

{% block content %}

<div class="form-group">
        <h2>{{ title }}</h2>
        <h3>{{ message }}</h3>
         {% csrf_token %}
             <div class="col-lg-8">
                <div class="input-group">
                     <!-- Button trigger Modal Inscrição de Novo Caminheiro -->
                    <button class="btn btn-danger btn-sm" data-toggle="modal" name="inscriCam" id="inscriCam" data-target="#modalInscricaoCam">
                        <span class="glyphicon glyphicon glyphicon-plus"></span> Inscrever Caminheiro
                    </button> 
                </div>
            </div>  
</div>
<body class="homepage">
<div class="container">
    <section>
        <div class="page-header" id="info">
            <p style="text-align:left;"><img class="img-circle img-responsive img-center" src="../../static/app/Imagens/Caminheiros.png" alt="" width="200" height="200">&nbsp;</p>
               <div class="container">
                   <b/>
                   A IVª secção em termos pedagógicos é organizada da seguinte forma:
                   <br/> <!-- para quebra de linhas -->
                   <div class="container">

                       <div class="row">
                           <div class="col-md-3 col-xs-2">
                               Designação da Secção
                           </div>
                           <div class="col-md-3 col-xs-2">
                               Designação do elemento
                           </div>
                           <div class="col-md-3 col-xs-2">
                               Faixa etária
                           </div>
                       </div>

                       <div class="row">
                           <div class="col-md-3 col-xs-2">
                               Clã
                           </div>
                           <div class="col-md-3 col-xs-2">
                               Caminheiro
                           </div>
                           <div class="col-md-3 col-xs-2">
                               18 aos 22
                           </div>
                       </div>

                   </div>
                   <br/>

            O caminho itenerário de crescimento individual e comunitário proposto para o caminheiro é o seguinte:
            <p style="text-align:left;"><img class="img-rounded" src="../../static/app/Imagens/caminho_vida_no_homem_novo.jpg" >&nbsp;</p>
            Adicionalmente, a Secção recorre ainda a modelos de vida – figuras da Igreja Católica que, à semelhança do patrono, também encarnam os valores e ideais da mística e do imaginário da Secção e que exprimem a diversidade de caminhos e carismas possíveis para os viver – e a grandes figuras históricas – personalidades que na sua vida realizaram grandes feitos, associados ao imaginário da Secção, que marcaram a história da humanidade.
            <table class="table" >
                <thead>
                <tr>
                    <th>Imaginário</th>
                    <th>Mistica</th>
                    <th>Simbolos</th>
                    <th>Patrono</th>
                    <th>Modelos de Vida</th>
                    <th>Figuras</th>
                    <th>Designação do Projecto</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Sem imaginário formal</td>
                    <td>A vida no Homem Novo</td>
                    <td>Vara bifurcada;Tenda;
                        Mochila;
                        Evangelho;
                        Pão;
                        Fogo</td>
                    <td>São Paulo</td>
                    <td>São João de Deus;Beata Teresa de Calcuta;
                        Santa Teresa Benedita da Cruz;
                        Servo de Deus João Paulo II
                        Santo Inácio de Loyola</td>
                    <td>Grandes Figuras</td>
                    <td>Caminhada</td>
                </tr>
                </tbody>
            </table>
            A Tribo é o local onde os jovens, sob a liderança de um deles, estabelecem relações e são chamados a assumir diversas tarefas para a promoção do bem-comum, incentivando-se, assim, a co-responsabilidade que potencia a aprendizagem da democracia e da solidariedade, bem como a compreensão do papel do líder e da importância de uma boa e equilibrada liderança para o desenvolvimento do grupo.
            <table class="table" >
                <thead>
                <tr>
                    <th>Designação do pequeno grupo</th>
                    <th>Efectivo</th>
                    <th>Género</th>
                    <th>Identidade</th>
                    <th>Liderança</th>
                    <th>Constituição da unidade</th>
                    <th>Designação do local de reunião</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Tribo</td>
                    <td>4 a 8 Caminheiros</td>
                    <td>Aconselha-se mista</td>
                    <td>Nome de santo da igreja ou um benemérito da humanidade ou um heroi nacional</td>
                    <td>Guia de tribo</td>
                    <td>10 a 32 Caminheiros</td>
                    <td>Albergue</td>
                </tr>
                </tbody>
            </table>
            Pretende-se que a dinâmica de progresso vá de encontro aos objectivos. Assim, progredir significará atingir objectivos, ao invés de aumentar o nível de proficiência em conhecimentos, competências e atitudes já anteriormente obtidos.

            <table class="table" >
                <thead>
                <tr>
                    <th>Adesão</th>
                    <th>1ª Etapa</th>
                    <th>2ª Etapa</th>
                    <th>3ª Etapa</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        Caminho (que iniciamos)
                        <p style="text-align:left;"><img class="img-rounded" src="../../static/app/Imagens/caminheiro_adesao.png" >&nbsp;</p>
                    </td>
                    <td>
                        Comunidade (que formamos)
                        <p style="text-align:left;"><img class="img-rounded" src="../../static/app/Imagens/caminheiro_1_etapa.png" >&nbsp;</p>
                    </td>
                    <td>
                        Serviço (ao outro, ao próximo)
                        <p style="text-align:left;"><img class="img-rounded" src="../../static/app/Imagens/caminheiro_2_etapa.png" >&nbsp;</p>
                    </td>
                    <td>
                        Partida (rumo ao horizonte)
                        <p style="text-align:left;"><img class="img-rounded" src="../../static/app/Imagens/caminheiro_3_etapa.png" >&nbsp;</p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
            </div>
    </section>

    <!--  Carousel Actividades recentes -->
    <section>
        <div class="page-header" id="atividades">
            <h2>Actividades recentes</h2>
            <div id="recentesCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#recentesCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#recentesCarousel" data-slide-to="1"></li>
                    <li data-target="#recentesCarousel" data-slide-to="2"></li>
                    <li data-target="#recentesCarousel" data-slide-to="3"></li>
                    <li data-target="#recentesCarousel" data-slide-to="4"></li>
                    <li data-target="#recentesCarousel" data-slide-to="5"></li>
                    <li data-target="#recentesCarousel" data-slide-to="6"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="Imagens/Diverssas/Anatomia_flor_de_lis.gif" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Chania">
                        <div class="carousel-caption">
                            <h3>A</h3>
                            <p></p>

                        </div>
                    </div>

                    <div class="item">
                        <img src="Imagens/Diverssas/boyscouts_logo.png" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Chania">
                        <div class="carousel-caption">
                            <h3>B</h3>
                            <p>sdcsdsdvsd</p>
                        </div>
                    </div>

                    <div class="item">
                        <img src="Imagens/Diverssas/CNE.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Flower">
                        <div class="carousel-caption">
                            <h3>C</h3>
                            <p></p>
                        </div>
                    </div>

                    <div class="item">
                        <img src="Imagens/Diverssas/flor_de_liz.png" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Flower">
                        <div class="carousel-caption">
                            <h3>D</h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="Imagens/Diverssas/images.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Flower">
                        <div class="carousel-caption">
                            <h3>E</h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="Imagens/Diverssas/Insignias.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Flower">
                        <div class="carousel-caption">
                            <h3>F</h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="Imagens/Diverssas/Len_os_cne_2.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Flower">
                        <div class="carousel-caption">
                            <h3>G</h3>
                            <p></p>
                        </div>
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#recentesCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#recentesCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

        </div>
    </section>
</div>
</body>
<!--Modal Inscrever Caminheiro-->
<div class="modal fade" id="modalInscricaoCam" tabindex="-1" role="dialog"
                     aria-labelledby="inscricaoCamLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <!-- Modal Header -->
                            <div class="modal-header">
                                <button type="button" class="close"
                                        data-dismiss="modal">
                                    <span aria-hidden="true">&times;</span>
                                    <span class="sr-only">Close</span>
                                </button>
                                <h4 class="modal-title" id="inscricaoCamLabel">
                                    Inscrição do Caminheiro
                                </h4>
                            </div>

                            <!-- Modal Body -->
                            <div class="modal-body">
                                <form class="form-horizontal" action="inserirCaminheiros" method="post">
                                    <div class="form-group">
                                        <div class="col-xs-5">
                                             <div>                   
                                                <label class="required" for="id_Escut">Escuteiros:</label>                        
                                                <div class="related-widget-wrapper">
                                                    <select id="camEscut" name="camEscut">
                                                        {% for scout in getEscuteiros %}
                                                            <option selected="">{{ scout.nome }}</option>
                                                        {% endfor %}
                                                    </select>
                                                    
                                                </div> 
                                                 <br />
                                                Data de Promessa:
                                                <input type="date" class="form-control" name="dataPromessa_Cam" id="dataPromessa_Cam" required=""/>
                                            
                                            </div>
                                            
                                            </div>     
                                    </div>

                                    </div>
                                 
                                    <div class="form-group">
                                        <div class="col-xs-5">
                                            <button type="button" class="btn btn-danger pull-center"
                                                    data-dismiss="modal">
                                                Cancelar
                                            </button>
                                            <button class="btn btn-primary pull-center" onclick="criacaoCaminheiro()">
                                                Inscrever
                                            </button>
                                        </div>
                                    </div>
                                </form>
                                <hr>

                            </div>
                        </div>
                    </div>

{% endblock %}