﻿{% extends "app/layout.html" %}

{% block content %}

<body class="homepage">
    <br />
<div class="col-lg-8">
    <!-- Button trigger Modal Inscrição de Novo Explorador -->
    <button style="color:#001a00" class="btn btn-success btn-sm" data-toggle="modal" name="criarDirigente" id="criarDirigente" data-target="#modalInscricaoDir">
        <span class="glyphicon glyphicon glyphicon-plus"></span> Inscrever Dirigente
    </button>
</div>
<form action="getDirigentes" method="get">

</form>

    <!--Header-->
<div class="container">
    <!-- Introdução -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dirigentes/Chefes
            </h1>
            <p>
                <b>
                    Drigentes/Chefes é o patamar máximo de um agrupamento, sendo estes responsáveis por orientar e formar novos escuteiros que forem ingressando no agrupamento.
                </b>
            </p>
        </div>
    </div>

    <!-- Chefes/Dirigentes antigos e atuais -->
    <div class="row">
       


        <div class="col-lg-12">
            <h2 class="page-header">Chefes do Agrupamento Nº4 Conceição-Príncipe</h2>
        </div>
         {% for dir in getDirigentes %}
            <div class="row">
               <div class="col-lg-12">
                   <div class="border col-lg-12 text-center">
                      
                        <img class="img-circle img-responsive img-center" src="{{dir.escuteiro.foto}}" alt="">
                        <h3>{{ dir.escuteiro }}</h3>
                        <a><b />Cargo: {{dir.funcao}} </a><br/>
                        <a><b />E-mail: {{dir.escuteiro.email}}</a>
                        <li><a href="">Facebook</a></li>
                        <li>Image path: {{dir.escuteiro.foto}}</li>
                    </div>
               </div>
                </div>
         {% endfor %}

        
    </div>
</div>
<div></div>
</body>
<!--Modal Inscrever Dirigente -->
<div class="modal fade" id="modalInscricaoDir" tabindex="-1" role="dialog"
                     aria-labelledby="inscricaoDirLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <!-- Modal Header -->
                            <div class="modal-header">
                                <button type="button" class="close"
                                        data-dismiss="modal">
                                    <span aria-hidden="true">&times;</span>
                                    <span class="sr-only">Close</span>
                                </button>
                                <h4 class="modal-title" id="inscricaoCamLabel">
                                    Inscrição do Dirigente
                                </h4>
                            </div>

                            <!-- Modal Body -->
                            <div class="modal-body">
                                <form class="form-horizontal" action="inserirDirigentess" method="post">
                                    <div class="form-group">
                                        <div class="col-xs-5">
                                             <div>                   
                                                <label class="required" for="id_Escut">Escuteiros:</label>                        
                                                <div class="related-widget-wrapper">
                                                    <select id="camEscut" name="camEscut">
                                                        {% for scout in getEscuteiros %}
                                                            <option selected="">{{ scout.nome }}</option>
                                                        {% endfor %}
                                                    </select>
                                                    
                                                </div> 
                                                 <br />
                                                Data de Promessa:
                                                <input type="date" class="form-control" name="dataPromessa_Dir" id="dataPromessa_Dir" required=""/>
                                            
                                            </div>
                                            
                                            </div>     
                                    </div>

                                    </div>
                                 
                                    <div class="form-group">
                                        <div class="col-xs-5">
                                            <button type="button" class="btn btn-danger pull-center"
                                                    data-dismiss="modal">
                                                Cancelar
                                            </button>
                                            <button class="btn btn-primary pull-center" onclick="criacaoDirigente()">
                                                Inscrever
                                            </button>
                                        </div>
                                    </div>
                                </form>
                                <hr>

                            </div>
                        </div>
                    </div>
{% endblock %}