﻿{% extends "app/layout.html" %}

{% block content %}

<div class="form-group">
        <h2>{{ title }}</h2>
        <h3>{{ message }}</h3>
        <form action="/pesquisaPatrulhaExplorador" method="post">
           
            {% csrf_token %}
             <div class="col-lg-8">
                <div class="input-group">
                    <input type="text" class="form-control" name="pesqPatrulhaExp" id="pesqPatrulhaExp" placeholder="Patrulha" required="">
                    <span class="input-group-btn" >
                        <button class="btn btn-success btn-sm" id="patrulhaExpButon" name="patrulhaExpButon" type="submit"/>
                        <span class="glyphicon glyphicon-search"></span> Pesquisar
                    </span>
                     <!-- Button trigger Modal Criação de uma Nova Patrulha para Exploradores -->
                    <button class="btn btn-success btn-sm" data-toggle="modal" name="criarPatrulhaExp" id="criarPatrulhaExp" data-target="#modalCriarPatrulhaExp">
                        <span class="glyphicon glyphicon glyphicon-plus"></span> Criar Patrulha
                    </button>
                    <!-- Button trigger Modal Criação de Criar Cargo para um explorador -->
                    <button class="btn btn-success btn-sm" data-toggle="modal" name="criarCargoExp" id="criarCargoExp" data-target="#modalCriarCargoExp" >
                        <span class="glyphicon glyphicon glyphicon-plus"></span> Criar Cargos
                    </button>
                    <!-- Button trigger Modal Inscrição de Novo Explorador -->
                    <button class="btn btn-success btn-sm" data-toggle="modal" name="criarExplorador" id="criarExplorador" data-target="#modalInscricaoExp">
                        <span class="glyphicon glyphicon glyphicon-plus"></span> Inscrever Explorador
                    </button> 
                   
                </div>  
            </div>
        </form>  
</div>
<body class="homepage">
<div class="container">
    <section>
        <div class="page-header" id="info">
            <p style="text-align:left;"><img class="img-circle img-responsive img-center" src="../../static/app/Imagens/exploradores.png" alt="" width="200" height="200">&nbsp;</p>
            <p>
                <b/>
                <p>Organização da Expedição</p>
                    <ul>
                        <li>Os elementos da Expedição são os Exploradores, com idade entre os 10 e 14 anos;</li>
                        <li>O escutismo propõe-lhes a “Aventura/Expedição”, verdadeiramente decidida em comum e vivida por todos;</li>
                        <li>Os Exploradores estão divididos em pequenos grupos de 4 a 8 elementos, as Patrulhas;</li>
                        <li>Cada Expedição tem entre 2 a 5 Patrulhas;</li>
                        <li>Cada Patrulha tem o nome de um animal, o Totem;</li>
                        <li>Cada Explorador usa na camisa um distintivo com o Totem da sua Patrulha (o desenho e as cores associadas ao animal que escolheram);</li>
                        <li>Cada Patrulha tem uma bandeirola da Patrulha com o seu Totem e as suas cores;</li>
                        <li>O patrono dos Exploradores é São Tiago;</li>
                        <li>A cor do lenço dos Exploradores é o Verde  (debruado a branco), cor da esperança e da natureza.</li>
                    </ul>
                </p>
            </p>
        </div>
    </section>
    <!--  Carousel Actividades recentes -->
    <section>
        <div class="page-header" id="atividades">
            <h2>Actividades recentes</h2>
            <div id="recentesCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#recentesCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#recentesCarousel" data-slide-to="1"></li>
                    <li data-target="#recentesCarousel" data-slide-to="2"></li>
                    <li data-target="#recentesCarousel" data-slide-to="3"></li>
                    <li data-target="#recentesCarousel" data-slide-to="4"></li>
                    <li data-target="#recentesCarousel" data-slide-to="5"></li>
                    <li data-target="#recentesCarousel" data-slide-to="6"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="Imagens/Diverssas/Anatomia_flor_de_lis.gif" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Chania">
                        <div class="carousel-caption">
                            <h3>A</h3>
                            <p></p>

                        </div>
                    </div>

                    <div class="item">
                        <img src="Imagens/Diverssas/boyscouts_logo.png" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Chania">
                        <div class="carousel-caption">
                            <h3>B</h3>
                            <p>sdcsdsdvsd</p>
                        </div>
                    </div>

                    <div class="item">
                        <img src="Imagens/Diverssas/CNE.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Flower">
                        <div class="carousel-caption">
                            <h3>C</h3>
                            <p></p>
                        </div>
                    </div>

                    <div class="item">
                        <img src="Imagens/Diverssas/flor_de_liz.png" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Flower">
                        <div class="carousel-caption">
                            <h3>D</h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="Imagens/Diverssas/images.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Flower">
                        <div class="carousel-caption">
                            <h3>E</h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="Imagens/Diverssas/Insignias.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Flower">
                        <div class="carousel-caption">
                            <h3>F</h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="Imagens/Diverssas/Len_os_cne_2.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Flower">
                        <div class="carousel-caption">
                            <h3>G</h3>
                            <p></p>
                        </div>
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#recentesCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#recentesCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

        </div>
    </section>
</div>
<br><br><br>
</body>

<!--Modal Inscrever Explorador -->
<div class="modal fade" id="modalInscricaoExp" tabindex="-1" role="dialog"
                     aria-labelledby="inscricaoExpLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <!-- Modal Header -->
                            <div class="modal-header">
                                <button type="button" class="close"
                                        data-dismiss="modal">
                                    <span aria-hidden="true">&times;</span>
                                    <span class="sr-only">Close</span>
                                </button>
                                <h4 class="modal-title" id="inscricaoExpLabel">
                                    Inscrição do Explorador
                                </h4>
                            </div>

                            <!-- Modal Body -->
                            <div class="modal-body">
                                <form class="form-horizontal" action="inserirExploradores" method="post">
                                    <div class="form-group">
                                        <div class="col-xs-5">
                                             <div>                   
                                                <label class="required" for="id_Escut">Escuteiros:</label>                        
                                                <div class="related-widget-wrapper">
                                                    <select id="pionEscut" name="pionEscut">
                                                        {% for scout in getEscuteiros %}
                                                            <option selected="">{{ scout.nome }}</option>
                                                        {% endfor %}
                                                    </select>
                                                    
                                                </div> 
                                                 <br />
                                                Data de Promessa:
                                                <input type="date" class="form-control" name="dataPromessa_Exp" id="dataPromessa_Exp" required=""/>
                                            
                                            </div>
                                            
                                            </div>     
                                    </div>

                                    </div>
                                 
                                    <div class="form-group">
                                        <div class="col-xs-5">
                                            <button type="button" class="btn btn-danger pull-center"
                                                    data-dismiss="modal">
                                                Cancelar
                                            </button>
                                            <button class="btn btn-primary pull-center" onclick="criacaoExp()">
                                                Inscrever
                                            </button>
                                        </div>
                                    </div>
                                </form>
                                <hr>

                            </div>
                        </div>
                    </div>

{% endblock %}
