﻿{% extends "app/layout.html" %}

{% block content %}
<body class="homepage">
    <!--Header-->
    <div class="container">
    <br/>
        
    <div class="col-lg-8">
                    <!--Pesquisa de escuteiro-->
                    <div class="input-group">
                        <input type="search" class="form-control" name="biScout" id="biScout" placeholder="BI" required="">
                        <span class="input-group-btn">
                                <button class="btn btn-primary btn-sm" id="pequisaEscut" name="pequisaEscut" data-toggle="modal" data-target="#" type="submit"/>
                                <span class="glyphicon glyphicon-search"></span> Pesquisar
                        </span>
                    <!-- Button trigger Modal Historia do Agrupamento -->
                    <button data-toggle="modal" data-target="#modalHistoria" class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-info-sign"></span> Historia do Agrupamento <!-- Vericar o erro do 'utf-8' codec can't decode byte 0xf3 in position 204: invalid continuation byte-->
                    </button>
                    <!-- Button trigger Modal Inscricao de Novo Escuteiro -->
                    <button id="bttInsc" name="bttInsc" data-toggle="modal" data-target="#modalInscricaoEscut" class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon glyphicon-plus"></span> Inscrever Escuteiro
                    </button>
                    <!-- Button triger Modal Minhas Informações -->
                     <button class="btn btn-primary btn-sm" id="minhasInfo" name="minhasInfo" data-toggle="modal" data-target="#modalInfoEscuteiro" type="submit">        
                        <span class="glyphicon glyphicon-user"></span> Minhas Informações
                        </button>
                   </div>
        <br/>
    </div>  
    
    <!-- Google Maps -->
    <div class="container" align="center">
        <section>

            <div class="container">
                <div class="row">
                    <div id="map" style="width:700px;height:400px"></div>
                    <script>
                        var mapCanvas = document.getElementById("map");
                        var mapOptions = {
                            center: new google.maps.LatLng(1.640828, 7.419506), zoom: 16
                        }
                        var map = new google.maps.Map(mapCanvas, mapOptions);
                    </script>

                </div>
            </div>
        </section>
    </div> 

    <!-- Galeria Actividades recentes-->
    <div class="container">
        <section>
            <div class="page-header" id="atual">
                <h2>Actividades recentes</h2>
            </div>
            <div id="novasCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#novasCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#novasCarousel" data-slide-to="1"></li>
                    <li data-target="#novasCarousel" data-slide-to="2"></li>
                    <li data-target="#novasCarousel" data-slide-to="3"></li>
                    <li data-target="#novasCarousel" data-slide-to="4"></li>
                    <li data-target="#novasCarousel" data-slide-to="5"></li>
                    <li data-target="#novasCarousel" data-slide-to="6"></li>
                    <li data-target="#novasCarousel" data-slide-to="7"></li>
                    <li data-target="#novasCarousel" data-slide-to="8"></li>
                    <li data-target="#novasCarousel" data-slide-to="9"></li>
                    <li data-target="#novasCarousel" data-slide-to="10"></li>
                    <li data-target="#novasCarousel" data-slide-to="11"></li>
                    <li data-target="#novasCarousel" data-slide-to="12"></li>
                    <li data-target="#novasCarousel" data-slide-to="13"></li>
                    <li data-target="#novasCarousel" data-slide-to="14"></li>
                    <li data-target="#novasCarousel" data-slide-to="15"></li>
                    <li data-target="#novasCarousel" data-slide-to="16"></li>
                    <li data-target="#novasCarousel" data-slide-to="17"></li>
                    <li data-target="#novasCarousel" data-slide-to="18"></li>
                    <li data-target="#novasCarousel" data-slide-to="19"></li>
                    <li data-target="#novasCarousel" data-slide-to="20"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="../../static/app/Imagens/Actividades_recentes/Recente/recente_a.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Chania">
                        <div class="carousel-caption">
                            <h3>Recente 2016</h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="../../static/app/Imagens/Actividades_recentes/Recente/recente_c.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Chania">
                        <div class="carousel-caption">
                            <h3>Recente 2016</h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="../../static/app/Imagens/Actividades_recentes/Recente/recente_d.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Chania">
                        <div class="carousel-caption">
                            <h3>Recente 2016</h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="../../static/app/Imagens/Actividades_recentes/Recente/recente_e.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Chania">
                        <div class="carousel-caption">
                            <h3>Recente 2016</h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="../../static/app/Imagens/Actividades_recentes/Recente/recente_f.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Chania">
                        <div class="carousel-caption">
                            <h3>Recente 2016</h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="../../static/app/Imagens/Actividades_recentes/Recente/recente_g.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Chania">
                        <div class="carousel-caption">
                            <h3>Recente 2016</h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="../../static/app/Imagens/Actividades_recentes/Recente/recente_h.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Chania">
                        <div class="carousel-caption">
                            <h3>Recente 2016</h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="../../static/app/Imagens/Actividades_recentes/Retiro%20quaresmal%202016/rq_a.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Chania">
                        <div class="carousel-caption">
                            <h3>Retiro Quaresmal 2016</h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="../../static/app/Imagens/Actividades_recentes/Retiro%20quaresmal%202016/rq_b.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Chania">
                        <div class="carousel-caption">
                            <h3>Retiro Quaresmal 2016</h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="../../static/app/Imagens/Actividades_recentes/Retiro%20quaresmal%202016/rq_c.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Flower">
                        <div class="carousel-caption">
                            <h3>Retiro Quaresmal 2016</h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="../../static/app/Imagens/Actividades_recentes/Julho_de_2015_(Intercambio Agrupamento Bela Vista)/jul_2015_a.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Flower">
                        <div class="carousel-caption">
                            <h3>Intercambio Agrupamento de Bela Vista (PT)</h3>
                            <p>Julho de 2015</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="../../static/app/Imagens/Actividades_recentes/Julho_de_2015_(Intercambio Agrupamento Bela Vista)/jul_2015_b.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Flower">
                        <div class="carousel-caption">
                            <h3>Intercambio Agrupamento de Bela Vista (PT)</h3>
                            <p>Julho de 2015</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="../../static/app/Imagens/Actividades_recentes/Julho_de_2015_(Intercambio Agrupamento Bela Vista)/jul_2015_c.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Flower">
                        <div class="carousel-caption">
                            <h3>Intercambio Agrupamento de Bela Vista (PT)</h3>
                            <p>Julho de 2015</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="../../static/app/Imagens/Actividades_recentes/Julho_de_2015_(Intercambio Agrupamento Bela Vista)/jul_2015_d.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Flower">
                        <div class="carousel-caption">
                            <h3>Intercambio Agrupamento de Bela Vista (PT)</h3>
                            <p>Julho de 2015</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="../../static/app/Imagens/Actividades_recentes/Julho_de_2015_(Intercambio Agrupamento Bela Vista)/jul_2015_e.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Flower">
                        <div class="carousel-caption">
                            <h3>Intercambio Agrupamento de Bela Vista (PT)</h3>
                            <p>Julho de 2015</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="../../static/app/Imagens/Actividades_recentes/Julho_de_2015_(Intercambio Agrupamento Bela Vista)/jul_2015_f.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Flower">
                        <div class="carousel-caption">
                            <h3>Intercambio Agrupamento de Bela Vista (PT)</h3>
                            <p>Julho de 2015</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="../../static/app/Imagens/Actividades_recentes/Julho_de_2015_(Intercambio Agrupamento Bela Vista)/jul_2015_g.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Flower">
                        <div class="carousel-caption">
                            <h3>Intercambio Agrupamento de Bela Vista (PT)</h3>
                            <p>Julho de 2015</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="../../static/app/Imagens/Actividades_recentes/Julho_de_2015_(Intercambio Agrupamento Bela Vista)/jul_2015_h.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Flower">
                        <div class="carousel-caption">
                            <h3>Intercambio Agrupamento de Bela Vista (PT)</h3>
                            <p>Julho de 2015</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="../../static/app/Imagens/Actividades_recentes/Julho_de_2015_(Intercambio Agrupamento Bela Vista)/jul_2015_i.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Flower">
                        <div class="carousel-caption">
                            <h3>Intercambio Agrupamento de Bela Vista (PT)</h3>
                            <p>Julho de 2015</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="../../static/app/Imagens/Actividades_recentes/Julho_de_2015_(Intercambio Agrupamento Bela Vista)/jul_2015_j.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Flower">
                        <div class="carousel-caption">
                            <h3>Intercambio Agrupamento de Bela Vista (PT)</h3>
                            <p>Julho de 2015</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="../../static/app/Imagens/Actividades_recentes/Julho_de_2015_(Intercambio Agrupamento Bela Vista)/jul_2015_k.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Flower">
                        <div class="carousel-caption">
                            <h3>Intercambio Agrupamento de Bela Vista (PT)</h3>
                            <p>Julho de 2015</p>
                        </div>
                    </div>

                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#novasCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#novasCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

        </section>
    </div>
    <div><hr></div>

    <br><br><br>
    <!-- acanac2008_Carousel-->
    <div class="container">
        <section>
            <div class="page-header" id="gallery">
                <h2>Acanac 2008</h2>
            </div>
            <div id="acanac2008_Carousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#acanac2008_Carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#acanac2008_Carousel" data-slide-to="1"></li>
                    <li data-target="#acanac2008_Carousel" data-slide-to="2"></li>
                    <li data-target="#acanac2008_Carousel" data-slide-to="3"></li>
                    <li data-target="#acanac2008_Carousel" data-slide-to="4"></li>
                    <li data-target="#acanac2008_Carousel" data-slide-to="5"></li>
                    <li data-target="#acanac2008_Carousel" data-slide-to="6"></li>
                    <li data-target="#acanac2008_Carousel" data-slide-to="7"></li>
                    <li data-target="#acanac2008_Carousel" data-slide-to="8"></li>
                    <li data-target="#acanac2008_Carousel" data-slide-to="9"></li>
                    <li data-target="#acanac2008_Carousel" data-slide-to="10"></li>
                    <li data-target="#acanac2008_Carousel" data-slide-to="11"></li>
                    <li data-target="#acanac2008_Carousel" data-slide-to="12"></li>
                    <li data-target="#acanac2008_Carousel" data-slide-to="13"></li>
                    <li data-target="#acanac2008_Carousel" data-slide-to="14"></li>
                    <li data-target="#acanac2008_Carousel" data-slide-to="15"></li>
                    <li data-target="#acanac2008_Carousel" data-slide-to="16"></li>
                    <li data-target="#acanac2008_Carousel" data-slide-to="17"></li>
                    <li data-target="#acanac2008_Carousel" data-slide-to="18"></li>
                    <li data-target="#acanac2008_Carousel" data-slide-to="19"></li>
                    <li data-target="#acanac2008_Carousel" data-slide-to="20"></li>
                    <li data-target="#acanac2008_Carousel" data-slide-to="21"></li>
                    <li data-target="#acanac2008_Carousel" data-slide-to="22"></li>
                    <li data-target="#acanac2008_Carousel" data-slide-to="23"></li>
                    <li data-target="#acanac2008_Carousel" data-slide-to="24"></li>
                    <li data-target="#acanac2008_Carousel" data-slide-to="25"></li>
                    <li data-target="#acanac2008_Carousel" data-slide-to="26"></li>
                    <li data-target="#acanac2008_Carousel" data-slide-to="27"></li>
                    <li data-target="#acanac2008_Carousel" data-slide-to="28"></li>
                    <li data-target="#acanac2008_Carousel" data-slide-to="29"></li>
                    <li data-target="#acanac2008_Carousel" data-slide-to="30"></li>
                    <li data-target="#acanac2008_Carousel" data-slide-to="31"></li>
                    <li data-target="#acanac2008_Carousel" data-slide-to="32"></li>
                    <li data-target="#acanac2008_Carousel" data-slide-to="33"></li>
                    <li data-target="#acanac2008_Carousel" data-slide-to="34"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="./../static/app/Imagens/Acanac_2008/Acanac_2008_1.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Chania">
                        <div class="carousel-caption">
                            <h3>Preparacao antes da missa</h3>

                        </div>
                    </div>
                    <div class="item">
                        <img src="./../static/app/Imagens/Acanac_2008/Acanac_2008_2.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Flower">
                        <div class="carousel-caption">
                            <h3>Caminheiros 2008</h3>

                        </div>
                    </div>
                    <div class="item">
                        <img src="./../static/app/Imagens/Acanac_2008/Acanac_2008_3.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Flower">
                        <div class="carousel-caption">
                            <h3>Chefes 2008</h3>
                            <p>Jamil Cassandra, Caetana Cassandra</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="./../static/app/Imagens/Acanac_2008/Acanac_2008_4.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Flower">
                        <div class="carousel-caption">
                            <h3>Caminheiros 2008</h3>

                        </div>
                    </div>
                    <div class="item">
                        <img src="./../static/app/Imagens/Acanac_2008/Acanac_2008_5.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Flower">
                        <div class="carousel-caption">
                            <h3>Pioneiros 2008</h3>

                        </div>
                    </div>
                    <div class="item">
                        <img src="./../static/app/Imagens/Acanac_2008/Acanac_2008_6.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Flower">
                        <div class="carousel-caption">
                            <h3>E</h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="./../static/app/Imagens/Acanac_2008/Acanac_2008_7.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Flower">
                        <div class="carousel-caption">
                            <h3>E</h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="./../static/app/Imagens/Acanac_2008/Acanac_2008_8.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Flower">
                        <div class="carousel-caption">
                            <h3>E</h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="./../static/app/Imagens/Acanac_2008/Dirigentes.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Flower">
                        <div class="carousel-caption">
                            <h3>E</h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="./../static/app/Imagens/Acanac_2008/Acanac_2008_10.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Flower">
                        <div class="carousel-caption">
                            <h3>E</h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="./../static/app/Imagens/Acanac_2008/Acanac_2008_11.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Flower">
                        <div class="carousel-caption">
                            <h3>E</h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="./../static/app/Imagens/Acanac_2008/Acanac_2008_12.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Flower">
                        <div class="carousel-caption">
                            <h3>E</h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="./../static/app/Imagens/Acanac_2008/Acanac_2008_13.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Flower">
                        <div class="carousel-caption">
                            <h3>E</h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="./../static/app/Imagens/Acanac_2008/Acanac_2008_14.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Flower">
                        <div class="carousel-caption">
                            <h3>E</h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="./../static/app/Imagens/Acanac_2008/Acanac_2008_15.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Flower">
                        <div class="carousel-caption">
                            <h3>E</h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="./../static/app/Imagens/Acanac_2008/Acanac_2008_16.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Flower">
                        <div class="carousel-caption">
                            <h3>E</h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="./../static/app/Imagens/Acanac_2008/Acanac_2008_17.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Flower">
                        <div class="carousel-caption">
                            <h3>E</h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="./../static/app/Imagens/Acanac_2008/Acanac_2008_18.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Flower">
                        <div class="carousel-caption">
                            <h3>E</h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="./../static/app/Imagens/Acanac_2008/Acanac_2008_19.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Flower">
                        <div class="carousel-caption">
                            <h3>E</h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="./../static/app/Imagens/Acanac_2008/Acanac_2008_20.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Flower">
                        <div class="carousel-caption">
                            <h3>E</h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="./../static/app/Imagens/Acanac_2008/Acanac_2008_21.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Flower">
                        <div class="carousel-caption">
                            <h3>E</h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="./../static/app/Imagens/Acanac_2008/Acanac_2008_22.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Flower">
                        <div class="carousel-caption">
                            <h3>E</h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="./../static/app/Imagens/Acanac_2008/Acanac_2008_23.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Flower">
                        <div class="carousel-caption">
                            <h3>E</h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="./../static/app/Imagens/Acanac_2008/Acanac_2008_24.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Flower">
                        <div class="carousel-caption">
                            <h3>E</h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="./../static/app/Imagens/Acanac_2008/Acanac_2008_25.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Flower">
                        <div class="carousel-caption">
                            <h3>E</h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="./../static/app/Imagens/Acanac_2008/Acanac_2008_26.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Flower">
                        <div class="carousel-caption">
                            <h3>E</h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="./../static/app/Imagens/Acanac_2008/Acanac_2008_27.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Flower">
                        <div class="carousel-caption">
                            <h3>E</h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="./../static/app/Imagens/Acanac_2008/Acanac_2008_28.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Flower">
                        <div class="carousel-caption">
                            <h3>E</h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="./../static/app/Imagens/Acanac_2008/Acanac_2008_29.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Flower">
                        <div class="carousel-caption">
                            <h3>E</h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="./../static/app/Imagens/Acanac_2008/Acanac_2008_30.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Flower">
                        <div class="carousel-caption">
                            <h3>E</h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="./../static/app/Imagens/Acanac_2008/Acanac_2008_31.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Flower">
                        <div class="carousel-caption">
                            <h3>E</h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="./../static/app/Imagens/Acanac_2008/Acanac_2008_32.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Flower">
                        <div class="carousel-caption">
                            <h3>E</h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="./../static/app/Imagens/Acanac_2008/Acanac_2008_33.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Flower">
                        <div class="carousel-caption">
                            <h3>E</h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="./../static/app/Imagens/Acanac_2008/Acanac_2008_34.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Flower">
                        <div class="carousel-caption">
                            <h3>E</h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="./../static/app/Imagens/Acanac_2008/foto_familia.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Flower">
                        <div class="carousel-caption">
                            <h3>E</h3>
                            <p></p>
                        </div>
                    </div>

                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#acanac2008_Carousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#acanac2008_Carousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

        </section>
    </div>
    <div><hr></div>

    <br><br><br>
    <!-- Galeria Actividades antigas-->
    <div class="container">
        <section>
            <div class="page-header" id="antiga">
                <h2>Actividades antigas (ate 2006)</h2>
            </div>
            <div id="antigasCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#antigasCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#antigasCarousel" data-slide-to="1"></li>
                    <li data-target="#antigasCarousel" data-slide-to="2"></li>
                    <li data-target="#antigasCarousel" data-slide-to="3"></li>
                    <li data-target="#antigasCarousel" data-slide-to="4"></li>
                    <li data-target="#antigasCarousel" data-slide-to="5"></li>
                    <li data-target="#antigasCarousel" data-slide-to="6"></li>
                    <li data-target="#antigasCarousel" data-slide-to="7"></li>
                    <li data-target="#antigasCarousel" data-slide-to="8"></li>
                    <li data-target="#antigasCarousel" data-slide-to="9"></li>
                    <li data-target="#antigasCarousel" data-slide-to="10"></li>
                    <li data-target="#antigasCarousel" data-slide-to="11"></li>
                    <li data-target="#antigasCarousel" data-slide-to="12"></li>
                    <li data-target="#antigasCarousel" data-slide-to="13"></li>
                    <li data-target="#antigasCarousel" data-slide-to="14"></li>
                    <li data-target="#antigasCarousel" data-slide-to="15"></li>
                    <li data-target="#antigasCarousel" data-slide-to="16"></li>
                    <li data-target="#antigasCarousel" data-slide-to="17"></li>
                    <li data-target="#antigasCarousel" data-slide-to="18"></li>
                    <li data-target="#antigasCarousel" data-slide-to="19"></li>
                    <li data-target="#antigasCarousel" data-slide-to="20"></li>
                    <li data-target="#antigasCarousel" data-slide-to="21"></li>
                    <li data-target="#antigasCarousel" data-slide-to="22"></li>
                    <li data-target="#antigasCarousel" data-slide-to="23"></li>
                    <li data-target="#antigasCarousel" data-slide-to="24"></li>
                    <li data-target="#antigasCarousel" data-slide-to="25"></li>
                    <li data-target="#antigasCarousel" data-slide-to="26"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="./../static/app/Imagens/Desfile_2006/casa2_033.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Chania">
                        <div class="carousel-caption">
                            <h3>Desfile</h3>
                            <p></p>

                        </div>
                    </div>
                    <div class="item">
                        <img src="./../static/app/Imagens/Desfile_2006/casa2_034.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Chania">
                        <div class="carousel-caption">
                            <h3>B</h3>
                            <p>sdcsdsdvsd</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="./../static/app/Imagens/Desfile_2006/casa2_036.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Flower">
                        <div class="carousel-caption">
                            <h3>C</h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="./../static/app/Imagens/Desfile_2006/casa2_039.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Flower">
                        <div class="carousel-caption">
                            <h3>E</h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="./../static/app/Imagens/Desfile_2006/casa2_040.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Flower">
                        <div class="carousel-caption">
                            <h3>E</h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="./../static/app/Imagens/Desfile_2006/casa2_018.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Flower">
                        <div class="carousel-caption">
                            <h3>E</h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="./../static/app/Imagens/Desfile_2006/matrimonio_virgilio_y_placida_009.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Flower">
                        <div class="carousel-caption">
                            <h3>E</h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="./../static/app/Imagens/Desfile_2006/casa2_024.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Flower">
                        <div class="carousel-caption">
                            <h3>E</h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="./../static/app/Imagens/Encontros/P8070004.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Flower">
                        <div class="carousel-caption">
                            <h3>Encontro escutista</h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="./../static/app/Imagens/Desfile_2006/matrimonio_virgilio_y_placida_010.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Flower">
                        <div class="carousel-caption">
                            <h3>E</h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="./../static/app/Imagens/Acampamento_Cruz_Nascida/escuteiros_cruz_nascida_008.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Flower">
                        <div class="carousel-caption">
                            <h3>E</h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="./../static/app/Imagens/Acampamento_Cruz_Nascida/DSCN3143.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Chania">
                        <div class="carousel-caption">
                            <h3>B</h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="./../static/app/Imagens/Acampamento_Cruz_Nascida/DSCN3196.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Flower">
                        <div class="carousel-caption">
                            <h3>C</h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="./../static/app/Imagens/Acampamento_Sundy/DSCN1249.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Flower">
                        <div class="carousel-caption">
                            <h3>Acampamento Sundy</h3>
                            <p>Partida para acampamento.</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="./../static/app/Imagens/Acampamento_Cruz_Nascida/escuteiros_cruz_nascida_020.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Flower">
                        <div class="carousel-caption">
                            <h3>E</h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="./../static/app/Imagens/Acampamento_Cruz_Nascida/IMGP2150.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Flower">
                        <div class="carousel-caption">
                            <h3>E</h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="./../static/app/Imagens/Acampamento_Ponta_do_Sol_2004/acampamento_ponta_do_sol_004.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Flower">
                        <div class="carousel-caption">
                            <h3>Acampamento Ponta do Sol</h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="./../static/app/Imagens/Acampamento_Sundy/DSCN1451.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Flower">
                        <div class="carousel-caption">
                            <h3>Acampamento Sundy</h3>
                            <p>Montagem da tenda.</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="./../static/app/Imagens/Acampamento_Ponta_do_Sol_2004/acampamento_ponta_do_sol_006.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Flower">
                        <div class="carousel-caption">
                            <h3>Acampamento Ponta do Sol</h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="./../static/app/Imagens/Caminhada_Pico_Papagaio/caminhada_pico_page_002.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Flower">
                        <div class="carousel-caption">
                            <h3>Caminhada Pico Papagaio</h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="./../static/app/Imagens/Caminhada_Pico_Papagaio/caminhada_pico_page_037.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Flower">
                        <div class="carousel-caption">
                            <h3>Caminhada Pico Papagaio</h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="./../static/app/Imagens/Encontros/P8070010_1.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Flower">
                        <div class="carousel-caption">
                            <h3>Encontro escutista</h3>
                            <p>Lobitos</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="./../static/app/Imagens/Encontros/P8070013_1.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Flower">
                        <div class="carousel-caption">
                            <h3>Encontro escutista</h3>
                            <p>Exploradores</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="./../static/app/Imagens/Encontros/P8070002_1.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Flower">
                        <div class="carousel-caption">
                            <h3>Encontro escutista</h3>
                            <p>Pioneiros</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="./../static/app/Imagens/Encontros/P8070018_1.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Flower">
                        <div class="carousel-caption">
                            <h3>Encontro escutista</h3>
                            <p>Caminheiros</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="./../static/app/Imagens/Encontros/picasabackground.png" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Flower">
                        <div class="carousel-caption">
                            <h3>Encontro escutista</h3>
                            <p>Diverssas</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="./../static/app/Imagens/Encontros/P8070016_2.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Flower">
                        <div class="carousel-caption">
                            <h3>Encontro escutista</h3>
                            <p>Chefe Jamil e Caetana</p>
                        </div>
                    </div>
                </div>
                <!-- Left and right controls -->
                <a class="left carousel-control" href="#antigasCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#antigasCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

        </section>
    </div>
    <div><hr></div>

    <br />
    <!-- Container (Contact Section) -->
    <div class="container text-center">   
                <div id="contact" class="container">
                    <h3 class="text-center">Contactar o nosso Agrupamento</h3>
                    <div class="row">
                        <div class="col-md-4">
                            <p><span class="glyphicon glyphicon-map-marker"></span>Endereço: Rua do Bom Viver, Região Autonoma do Príncipe, STP</p>
                            <p><span class="glyphicon glyphicon-envelope"></span> Email: agrup4_cp@cnestp.st</p>
                            <p><span class="glyphicon glyphicon-phone"></span> Telefone: +239 2251068</p>
                        </div>
                        <div class="col-md-8">
                            <form class="form-horizontal" action="inserirComentario"  method="post">
                                <div class="form-group">
                                    <div class="col-sm-6 ">
                                        <input class="form-control" id="nomeContactar" name="nomeContactar" placeholder="Nome" required="" type="text">
                                    </div>
                                    <div class="col-sm-6">
                                        <input class="form-control" id="emailContactar" name="emailContactar" placeholder="E-mail" required="" type="email">
                                    </div>
                                </div>

                                <textarea class="form-control" id="comentarioContactar" name="comentarioContactar" placeholder="Comentario" rows="5" required=""></textarea>
                                <br />
                                <div class="form-group" id="enviarComentario" >
                                    <div class="right" >
                                        <button class="btn btn-primary pull-center" onclick="return enviarComentario()">
                                            Enviar
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    </div>
                </div>
    </div>

    </body>

<!-- Modal Historia do Agrupamento-->
<div class="modal fade" id="modalHistoria" tabindex="-1" role="dialog"
                         aria-labelledby="historiaLabel" aria-hidden="true" >
     <div class="modal-dialog">
                            <div class="modal-content">
                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <button type="button" class="close"
                                            data-dismiss="modal">
                                        <span aria-hidden="true">&times;</span>
                                        <span class="sr-only">Close</span>
                                    </button>
                                    <h4 class="modal-title" id="historiaLabel">
                                        História
                                    </h4>
                                </div>

                                <!-- Modal Body -->
                                <div class="modal-body">
                                    <form class="form-horizontal">
                                        <p />
                                        O Agrupamento Nº4 Conceição-Príncipe faz parte do CNESTP "Corpo Nacional de Escutas de S.Tomé e Príncipe".
                                        Tudo começou em novembro de 1994 com a cegada de alguns dirigentes a ilha do Príncipe nomeadamente (Mario, Edilberto, Alvaro, Gilberto e Carlos), sendo estes formados em 1993.
                                        </p>
                                        <p>
                                            Em 1996 um grupo de jovens da Ilha do Príncipe abraçaram a vida escutista, liderada pela Antónia Sequeira.
                                        </p>
                                        <p>
                                        Em 2008 a Irmã Isabel da comunidade de São João Bosco, deu proseguimento a integração de Jovens no Escutismo, onde se destacaram os nomes como: Deolise Neiva, Dionisio Magalhães, Hidaldo Afosno e Jamil Cassandra, não esquecendo de um grande apoio por parte do Padre Elias.
                                        </p>
                                        <p>
                                        Em 2000 com o regresso de Jamil Cassandra e Ilha do Príncipe, no memento este frequentava a III Secção "Pioneiro", o mesmo prosseguiu com a formação de jovens para o primeiro compromisso de escuteiro "Promessa".
                                            Foi assim que em 22 de abril de 2001 realizou-se a primeira promessa dos escuteiros do Príncipe, na presença do chefe Nacional de Escuteiros de S.Tomé e Príncipe na altura "Carlos Tavares", onde tomaram compromisso, 8 Lobitos, 7 Exploradores e 8 Pioneiros.
                                        <p />
                                        <!-- <div class="border col-lg-3 text-center"> -->
                                        <img src="../../static/app/Imagens/Dirigentes/Jamil.jpg" class="img-thumbnail" alt="Cinque Terre" width="200" height="236" alt="Flower">
                                        <h3>Jamil Cassanda</h3>
                                        <a><b />E-mail: jamilcassanda@gmail.com</a>
                                        <li>
                                            <a href="https://www.facebook.com/jamil.cassandra?fref=ts/">Facebook</a>
                                        </li>
                                    </form>
                                    <hr>
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            <button type="button" class="btn btn-default"
                                                    data-dismiss="modal">
                                                OK
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
    </div>

<!-- Modal Informações Escuteiro -->
<div class="modal fade" id="modalInfoEscuteiro" tabindex="-1" role="dialog"
                     aria-labelledby="infoEscuteirolLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <!-- Modal Header -->
                            <div class="modal-header">
                                <button type="button" class="close"
                                        data-dismiss="modal">
                                    <span aria-hidden="true">&times;</span>
                                    <span class="sr-only">Close</span>
                                </button>
                                <h4 class="modal-title" id="infoEscuteirolLabel">
                                    Informações do Escuteiro
                                </h4>
                            </div>
                            <!-- Modal Body -->
                            <div class="modal-body">
                                <form class="form-horizontal" action="/findEscuteiro" method="post">
                                    <div class="form-group">
                                        {% for escut in getEscuteiros %}                               
                                                {% if escut.email == request.user.email %}                                                     
                                             
                                        <div  class="col-sm-16">
                                            <div class="col-xs-8">
                                                <img id="imagem_escuteiro_Escut" class="img-thumbnail img-responsive img-center" src="../../static/app/Imagens/images.jpg" alt="">
                                                <div class="col-xs-14">
                                                    <label class="btn btn-info pull-center" for="imagemUpload">
                                                        <input id="imagemUpload" type="file" onchange="leituraNovaFoto(this);" style="display:none;">
                                                        <span class="glyphicon glyphicon-upload"></span>
                                                        Carregar Foto
                                                    </label>
                                                </div>
       
                                            </div>

                                            <div class="col-xs-5">
                                                   Nome:
                                                   <input class="form-control" name="nomeEscut" id="nomeEscut" placeholder="{{escut.nome}}" required="" type="text" disabled>
                                            </div>
                                               <div class="col-xs-5">
                                                   Sobrenome:
                                                   <input class="form-control" name="sobrenomeEscut" id="sobrenomeEscut" placeholder="{{escut.sobrenome}}" required="" type="text" disabled>
                                               </div>

                                               <div class="col-xs-5">
                                                   E-mail:
                                                   <input class="form-control" name="emailEscut" id="emailEscut" placeholder="{{escut.email}}" required="" type="email" disabled>
                                               </div>

                                               <div class="col-xs-5">
                                                   Telefone:
                                                   <input class="form-control" name="telefoneEscut" id="telefoneEscut" placeholder="{{escut.telefone}}" required="" type="number" disabled>
                                               </div>

                                               <div class="col-sm-5">
                                                   Data de Nascimento:
                                                   <input placeholder="{{escut.data_nasc}}" class="form-control" type="date" onfocus="(this.type='date')"  id="dataNascim_Escut" disabled>
                                               </div>

                                               <div class="col-xs-5">
                                                BI:
                                                   <input class="form-control" name="biEscut" id="biEscut" placeholder="{{escut.bi}}" required="" type="text" disabled>
                                               </div>
                                               
                                               <label class="col-xs-12">
                                                Secção:                                                
                                               <div class="col-sm-12" id="seccao">
                                                {% for lob in getLobitos %}
                                                   {% if lob.escuteiro == escut %}
                                                   <label class="radio-inline"><input type="radio" name="optradio" required="" id="lobEscut" checked disabled>Lobito</label>
                                                {% endif %}
                                                {% endfor %}
                                                {% for exp in getExploradores %}
                                                   {% if exp.escuteiro == escut %}
                                                   <label class="radio-inline"><input type="radio" name="optradio" id="expEscut" checked disabled>Explorador</label>
                                                   {% endif %}
                                                {% endfor %}
                                                {% for pion in getPioneiros %}
                                                   {% if pion.escuteiro == escut %}
                                                   <label class="radio-inline"><input type="radio" name="optradio" id="pioEscut" checked disabled>Pioneiro</label>
                                                   {% endif %}
                                                {% endfor %}
                                                {% for camin in getCaminheiros %}
                                                   {% if camin.escuteiro == escut %}
                                                   <label class="radio-inline"><input type="radio" name="optradio" id="camEscut" checked disabled>Caminheiro</label>
                                                   {% endif %}
                                                {% endfor %}
                                                {% for dirig in getDirigentes %}
                                                   {% if dirig.escuteiro == escut %}
                                                   <label class="radio-inline"><input type="radio" name="optradio" id="dirEscut" checked disabled>Dirigente</label>
                                                   {% endif %}
                                                {% endfor %}
                                                  
                                               </div>
                                               </label>
                                          
                                                
                                              {% for cotas in getCotas %}
                                               
                                               <div class="col-sm-12">
                                                                           
                                                {% if cotas.escuteiro == escut %}
                                                   <label>Situação da Cota:</label>
                                                 <div class="row margin-0 list-header hidden-sm hidden-xs">
                                                        <div class="col-md-2"><div class="header">Valor</div></div>
                                                        <div class="col-md-2"><div class="header">Ano</div></div>
                                                        <div class="col-md-3"><div class="header">Data Limite</div></div>
                                                        <div class="col-md-3"><div class="header">Data do Pagamento</div></div>
                                                        <div class="col-md-2"><div class="header">Situação</div></div>      
                                                </div>                                                  
                                                <div class="row margin-0">
                                                    <div class="col-md-2">
                                                        <div class="cell">
                                                            <div class="">
                                                                 <input class="form-control" name="valorCota" id="valorCota" placeholder="{{cotas.valor}} €" required="" type="text" disabled>
                                          
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <div class="cell">
                                                            <div class="">
                                                                <input class="form-control" name="anoCota" id="anoCota" placeholder="{{cotas.ano}}" required="" type="text" disabled>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="cell">
                                                            <div class="">
                                                                <input class="form-control" name="dataLimiteCota" id="dataLimiteCota" placeholder="{{cotas.dataLimite}}" required="" type="text" disabled>
                                                               
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="cell">
                                                            <div class=""> 
                                                                <input class="form-control" name="dataPagamentoCota" id="dataPagamentoCota" placeholder="{{cotas.dataPagamento}}" required="" type="text" disabled>
                                                            
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <div class="cell">
                                                            
                                                            <div class="">
                                                                 <div >
                                                                     {{cotas.situacao}}

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {% endif %}
                                                </div>
                                                   
                                                   <br />                   
                                             </div>
                                            {% endfor %}
                                            
                                               <!--Butões de Operações CRUD-->
                                               <div class="col-xs-10" id="butoesOp">
                                                   <button type="button" class="btn btn-danger btn-sm"
                                                           data-dismiss="modal">
                                                       <span class="glyphicon glyphicon-remove-sign"></span> Cancelar
                                                   </button>
                                                   <button type="button" class="btn btn-primary btn-sm" id="editar" onclick="activarEdicao()" >
                                                       <span class="glyphicon glyphicon-edit"></span> Editar
                                                   </button>
                                                   <button type="button" class="btn btn-primary btn-sm">
                                                       <span class="glyphicon glyphicon-remove"></span> Remover
                                                   </button>
                                                   <button type="button" class="btn btn-primary btn-sm" id="guardarAltercacao" data-dismiss="modal" onclick="desactivarEdicao()">
                                                       <span class="glyphicon glyphicon-ok"></span> Guardar Alterações
                                                   </button>
                                               </div>
                                           </div>

                                           {% endif %}   
                                           {% endfor %}

                                       </div>
                                   </form>
                                   <hr>

                               </div>
                           </div>
                       </div>
                   </div>
{% endblock %}


