﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <title>{{ title }} </title>
    {% load staticfiles %}
    <!--Uso do ajax-->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.min.css" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <!-- Uso do css do background e do footer -->
    <link rel="stylesheet" type="text/css" href="../../static/app/content/inicio.css">
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="../../static/app/scripts/main.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">Agrupamento Nº4 CP</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'home' %}">Inicio</a></li>
                    <li><a href="{% url 'lobitos' %}">Lobitos</a></li>
                    <li><a href="{% url 'exploradores' %}">Exploradores</a></li>
                    <li><a href="{% url 'pioneiros' %}">Pioneiros</a></li>
                    <li><a href="{% url 'caminheiros' %}">Caminheiros</a></li>
                    <li><a href="{% url 'dirigentes' %}">Dirigentes</a></li>
                    <li><a href="{% url 'about' %}">Sobre</a></li>
                       
                </ul>
                {% include 'app/login_parcial.html' %}
            </div>
        </div>
    </div>

        
    <!-- Modal Criar Utilizador -->
    <div class="modal fade" id="modalCriarUtilizador" tabindex="-1" role="dialog"
                     aria-labelledby="criarUtilizadorLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <!-- Modal Header -->
                            <div class="modal-header">
                                <button type="button" class="close"
                                        data-dismiss="modal">
                                    <span aria-hidden="true">&times;</span>
                                    <span class="sr-only">Close</span>
                                </button>
                                <h4 class="modal-title" id="criarUtilizadorLabel">
                                    Criar uma nova conta
                                </h4>
                            </div>

                            <!-- Modal Body -->
                            <div class="modal-body">
                                <form class="form-horizontal" action="registoUtilizador" method="post">
                                    <div class="form-group" >
                                        <div  class="col-sm-17">
                                            <div class="col-xs-5">
                                               Username:
                                                   <input class="form-control" name="userConta" id="userConta" placeholder="" required="" type="text">
                                            </div>
                                               <div class="col-xs-5">
                                               Password:
                                                   <input class="form-control" name="passwordConta" id="passwordConta" placeholder="" required="" type="password" >
                                               </div>

                                               <div class="col-xs-5">
                                               Confirmação da Password:
                                                   <input class="form-control" name="confPassConta" id="confPassConta" placeholder="" required="" type="password" >
                                               </div> 
                                               <div class="col-xs-5">
                                               E-mail:
                                                   <input class="form-control" name="emailUtil" id="emailUtil" placeholder="" required="" type="email" >
                                               </div> 
                                               <label class="col-xs-12">
                                               Secção:
                                               <div class="col-sm-12" name="scout" id="scout">
                                                   <label class="radio-inline"><input type="radio" name="optradio" id="lobConta" value="Lobito" >Lobito</label>
                                                   <label class="radio-inline"><input type="radio" name="optradio" id="expConta" value="Explorador">Explorador</label>
                                                   <label class="radio-inline"><input type="radio" name="optradio" id="pioConta" value="Pioneiro">Pioneiro</label>
                                                   <label class="radio-inline"><input type="radio" name="optradio" id="camConta" value="Caminheiro">Caminheiro</label>
                                                   <label class="radio-inline"><input type="radio" name="optradio" id="dirConta" value="Dirigente">Dirigente</label>
                                               </div>
                                               </label>

                                               <div class="col-xs-10">
                                                   <button type="button" class="btn btn-danger btn-sm"
                                                           data-dismiss="modal">
                                                       <span class="glyphicon glyphicon-remove-sign"></span> Cancelar
                                                   </button>
                                                   <button class="btn btn-primary pull-center" onclick="criacaoConta()">
                                                       <span class="glyphicon glyphicon-ok"></span> Criar conta
                                                   </button>
                                               </div>
                                           </div>
                                       </div>
                                   </form>
                                   <hr>
                               </div>
                           </div>
                       </div>
                   </div>

    <!--Modal inscricao Escuteiro-->
    <div class="modal fade" id="modalInscricaoEscut" tabindex="-1" role="dialog"
                     aria-labelledby="inscricaoLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <!-- Modal Header -->
                            <div class="modal-header">
                                <button type="button" class="close"
                                        data-dismiss="modal">
                                    <span aria-hidden="true">&times;</span>
                                    <span class="sr-only">Close</span>
                                </button>
                                <h4 class="modal-title" id="inscricaolLabel">
                                    Inscrição de Escuteiro
                                </h4>
                            </div>

                            <!-- Modal Body -->
                            <div class="modal-body">
                                <form class="form-horizontal" action="inserirEscuteiro" method="post">
                                    <div class="form-group">
                                        <div class="col-xs-5">
                                            <input class="form-control" id="nome" name="nome" placeholder="Nome" required="" type="text">
                                        </div>
                                        <div class="col-xs-5">
                                            <input class="form-control" id="sobreNome" name="sobreNome" placeholder="Sobrenome" required="" type="text">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-5">
                                            <input class="form-control" id="email" name="email" placeholder="E-mail" required="" type="email">
                                        </div>
                                        <div class="col-xs-5">
                                            <input class="form-control" name="telefone" placeholder="Telefone" required="" type="number">
                                        </div>
                                    </div>
                                    <div class="form-group">

                                        <label class="col-xs-5">Data de Nascimento:</label>
                                        <div class="col-sm-5">
                                            <input type="date" class="form-control" name="dataNasc" id="dataNasc" required="" placeholder="DataNasc"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-5">
                                            <input class="form-control" name="bi" id="biRegisto" placeholder="BI" required="" type="text">
                                        </div>
                                        <div class="col-xs-6">
                                            <label class="btn btn-info pull-center" for="imagem_escuteiro">  
                                                <input id="imagem_escuteiro" name="imagem_escuteiro" type="file" style="display:none;" accept="image/*">
                                                <span class="glyphicon glyphicon-upload"></span>
                                                Carregar Foto
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-5">
                                            <button type="button" class="btn btn-danger pull-center"
                                                    data-dismiss="modal">
                                                Cancelar
                                            </button>
                                            <button class="btn btn-primary pull-center" onclick="inscricao()">
                                                Guardar
                                            </button>
                                        </div>
                                    </div>
                                </form>
                                <hr>

                            </div>
                        </div>
                    </div>
                </div>

    <div class="container body-content">
    {% block content %}{% endblock %}
        <hr/>
        <footer class="footer">
            <br><br><br>
            <div class="container text-center">
                <ul class="list-inline">
                    <li><a href="https://www.ua.pt/">Universidade de Aveiro</a></li>
                </ul>
                <p>&copy; Copyright TPW @ 2016</p>
            </div>
        </footer>
    </div>

    <script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'app/scripts/bootstrap.js' %}"></script>
    <script src="{% static 'app/scripts/respond.js' %}"></script>
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
{% block scripts %}{% endblock %}

</body>
</html>
