﻿{% extends "app/layout.html" %}
{% block content %}

<div class="form-group">
        <h2>{{ title }}</h2>
        <h3>{{ message }}</h3>
        <form action="/pesquisaBando" method="post">
           
            {% csrf_token %}
             <div class="col-lg-8">
                <div class="input-group">
                    <input type="text" class="form-control" name="pesqband" id="pesqband" placeholder="Bando" required="">
                    <span class="input-group-btn" >
                        <button class="btn btn-warning btn-sm" id="pesqbtt" type="submit"/>
                        <span class="glyphicon glyphicon-search"></span> Pesquisar
                    </span>
                     <!-- Button trigger Modal Criação de Novo Bando -->
                    <button class="btn btn-warning btn-sm" data-toggle="modal" name="criarBando" id="criarBando" data-target="#modalCriarBando">
                        <span class="glyphicon glyphicon glyphicon-plus"></span> Criar Bando
                    </button>
                    <!-- Button trigger Modal Criação de Criar Cargo  -->
                    <button class="btn btn-warning btn-sm" data-toggle="modal" name="criarCargoLob" id="criarCargoLob" data-target="#modalCriarCargo">
                        <span class="glyphicon glyphicon glyphicon-plus"></span> Criar Cargos
                    </button>
                     <!-- Button trigger Modal Inscrição de Novo Lobito -->
                    
                    <button class="btn btn-warning btn-sm" data-toggle="modal" name="criarLobito" id="criarLobito" data-target="#modalInscricaoLob">
                        <span class="glyphicon glyphicon glyphicon-plus"></span> Inscrever Lobito
                    </button>
                  
                   
                </div>  
            </div>
        </form>
</div>
<body class="homepage">
    <div class="container">
        <section>
            <div class="page-header" id="info">
                <p style="text-align:left;"><img class="img-circle img-responsive img-center" src="../../static/app/Imagens/lobitos.png" alt="" width="200" height="200">&nbsp;</p>
                 <p>
                     <b/>
                <p>Organização da Alcateia</p>
                <ul>
                    <li>Os elementos da Alcateia são os Lobitos, com idade entre os 6 e 9 anos;</li>
                    <li>Os Lobitos são ajudados por alguns chefes (Bichos da Selva ou Velhos Lobos);</li>
                    <li>Os Lobitos estão divididos em pequenos grupos de 5 a 7 elementos, os Bandos;</li>
                    <li>Cada Alcateia tem de 2 a 5 Bandos;</li>
                    <li>Cada um dos Bandos tem o nome de uma das seguintes cores: branco, cinzento, preto, castanho e ruivo (as cores do pelo dos lobos);</li>
                    <li>Cada Bando tem um cantinho só para si no Covil (a sala de reunião da Alcateia);</li>
                    <li>Cada Bando tem um Guia e um Subguia, que dirigem os outros elementos;</li>
                    <li>Cada Lobito usa na camisa um distintivo com a cor do bando a que pertence;</li>
                    <li>Cada Bando tem uma bandeirola, com a cor escolhida;</li>
                    <li>O patrono dos Lobitos é São Francisco de Assis;</li>
                    <li>A cor do lenço dos Lobitos é o Amarelo  (debruado a branco), cor do sol e da alegria;</li>
                    <li>Para os Lobitos de agrupamentos marítimos, o lenço é Azul e Amarelo.</li>
                </ul>
                </p>
            </div>
        </section>
        <!--  Carousel Actividades recentes -->
        <section>
            <div class="page-header" id="atividades">
                <h2>Actividades recentes</h2>
                <div id="recentesCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#recentesCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#recentesCarousel" data-slide-to="1"></li>
                        <li data-target="#recentesCarousel" data-slide-to="2"></li>
                        <li data-target="#recentesCarousel" data-slide-to="3"></li>
                        <li data-target="#recentesCarousel" data-slide-to="4"></li>
                        <li data-target="#recentesCarousel" data-slide-to="5"></li>
                        <li data-target="#recentesCarousel" data-slide-to="6"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="Imagens/Diverssas/Anatomia_flor_de_lis.gif" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Chania">
                            <div class="carousel-caption">
                                <h3>A</h3>
                                <p></p>

                            </div>
                        </div>

                        <div class="item">
                            <img src="Imagens/Diverssas/boyscouts_logo.png" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Chania">
                            <div class="carousel-caption">
                                <h3>B</h3>
                                <p>sdcsdsdvsd</p>
                            </div>
                        </div>

                        <div class="item">
                            <img src="Imagens/Diverssas/CNE.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Flower">
                            <div class="carousel-caption">
                                <h3>C</h3>
                                <p></p>
                            </div>
                        </div>

                        <div class="item">
                            <img src="Imagens/Diverssas/flor_de_liz.png" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Flower">
                            <div class="carousel-caption">
                                <h3>D</h3>
                                <p></p>
                            </div>
                        </div>
                        <div class="item">
                            <img src="Imagens/Diverssas/images.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Flower">
                            <div class="carousel-caption">
                                <h3>E</h3>
                                <p></p>
                            </div>
                        </div>
                        <div class="item">
                            <img src="Imagens/Diverssas/Insignias.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Flower">
                            <div class="carousel-caption">
                                <h3>F</h3>
                                <p></p>
                            </div>
                        </div>
                        <div class="item">
                            <img src="Imagens/Diverssas/Len_os_cne_2.jpg" class="img-thumbnail" alt="Cinque Terre" width="400" height="236" alt="Flower">
                            <div class="carousel-caption">
                                <h3>G</h3>
                                <p></p>
                            </div>
                        </div>
                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#recentesCarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#recentesCarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

            </div>
        </section>
    </div>
    
    <br><br><br>
   
</body>

<!--Modal Inscrever Lobito-->
<div class="modal fade" id="modalInscricaoLob" tabindex="-1" role="dialog"
                     aria-labelledby="inscricaoLobLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <!-- Modal Header -->
                            <div class="modal-header">
                                <button type="button" class="close"
                                        data-dismiss="modal">
                                    <span aria-hidden="true">&times;</span>
                                    <span class="sr-only">Close</span>
                                </button>
                                <h4 class="modal-title" id="inscricaoLobLabel">
                                    Inscrição do Lobito
                                </h4>
                            </div>

                            <!-- Modal Body -->
                            <div class="modal-body">
                                <form class="form-horizontal" action="inserirLobitos" method="post">
                                    <div class="form-group">
                                        <div class="col-xs-5">
                                             <div>                   
                                                <label class="required" for="id_Escut">Escuteiros:</label>                        
                                                <div class="related-widget-wrapper">
                                                    <select id="lobEscut" name="lobEscut">
                                                        {% for scout in getEscuteiros %}
                                                            <option selected="">{{ scout.nome }}</option>
                                                        {% endfor %}
                                                    </select>
                                                    
                                                </div> 
                                                 <br />
                                                Data de Promessa:
                                                <input type="date" class="form-control" name="dataPromessa_Lob" id="dataPromessa_Lob" required=""/>
                                            
                                            </div>
                                            
                                            </div>     
                                    </div>

                                    </div>
                                 
                                    <div class="form-group">
                                        <div class="col-xs-5">
                                            <button type="button" class="btn btn-danger pull-center"
                                                    data-dismiss="modal">
                                                Cancelar
                                            </button>
                                            <button class="btn btn-primary pull-center" onclick="criacaoLobito()">
                                                Inscrever
                                            </button>
                                        </div>
                                    </div>
                                </form>
                                <hr>

                            </div>
                        </div>
                    </div>

<!--Modal Criação do Bando-->
<div class="modal fade" id="modalCriarBando" tabindex="-1" role="dialog"
                     aria-labelledby="criarBandoLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <!-- Modal Header -->
                            <div class="modal-header">
                                <button type="button" class="close"
                                        data-dismiss="modal">
                                    <span aria-hidden="true">&times;</span>
                                    <span class="sr-only">Close</span>
                                </button>
                                <h4 class="modal-title" id="criarBandoLabel">
                                    Criação do Bando
                                </h4>
                            </div>

                            <!-- Modal Body -->
                            <div class="modal-body">
                                <form class="form-horizontal" action="criarBando" method="post">
                                    <div class="form-group">
                                        <div class="col-xs-5">
                                            <input class="form-control" id="nomeBando" name="nomeBando" placeholder="Nome" required="" type="text">
                                        </div>
                                        <div class="col-xs-5">
                                            <input class="form-control" id="numElemBando" name="numElemBando" placeholder="Número de Elementos" required="" type="number">
                                        </div>
                                        <div class="col-xs-5">
                                            <div>                   
                                                <label class="required" for="lobitos">Lobitos:</label>                        
                                                <div class="related-widget-wrapper">
                                                    <select multiple="multiple" id="lobitos" name="lobitos">
                                                        {% for lob in getLobitos %}
                                                            <option value="{{lob.escuteiro.bi}}" >{{ lob.escuteiro }}</option>
                                                        {% endfor %}
                                                    </select>
                                                    
                                                </div>          
                                            </div>
                                        </div>
                                         <div class="col-xs-5">
                                          
                                             <div>                   
                                                <label class="required" for="cargosLob">Cargos:</label>                        
                                                <div class="related-widget-wrapper">
                                                    <select multiple="multiple" id="cargosLob" name="cargosLob">
                                                        {% for carg in getCargos %}
                                                            <option value="{{carg.nome}}">{{ carg.nome }}</option>
                                                        {% endfor %}
                                                    </select>
                                                    
                                                </div>          
                                            </div>
                                          </div>
                                    </div>
                                 
                                    <div class="form-group">
                                        <div class="col-xs-5">
                                            <button type="button" class="btn btn-danger pull-center"
                                                    data-dismiss="modal">
                                                Cancelar
                                            </button>
                                            <button class="btn btn-primary pull-center" onclick="criacaoBando()">
                                                Guardar
                                            </button>
                                        </div>
                                    </div>
                                </form>
                                <hr>

                            </div>
                        </div>
                    </div>
                </div>

<!--Modal Criação de Cargos-->
<div class="modal fade" id="modalCriarCargo" tabindex="-1" role="dialog"
                     aria-labelledby="criarCargoLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <!-- Modal Header -->
                            <div class="modal-header">
                                <button type="button" class="close"
                                        data-dismiss="modal">
                                    <span aria-hidden="true">&times;</span>
                                    <span class="sr-only">Close</span>
                                </button>
                                <h4 class="modal-title" id="criarCargoLabel">
                                    Criação do Cargo
                                </h4>
                            </div>

                            <!-- Modal Body -->
                            <div class="modal-body">
                                <form class="form-horizontal" action="criarCargo" method="post">
                                    <div class="form-group">
                                        <div class="col-xs-5">
                                            <input class="form-control" id="nomeCargo" name="nomeCargo" placeholder="Nome do cargo" required="" type="text">
                                        </div>
                               
                                         <div>                   
                                                                    
                                                <div class="related-widget-wrapper">
                                                    <select id="id_LobCargo" name="id_LobCargo">
                                                        {% for lob in getLobitos %}
                                                            <option selected="">{{ lob.escuteiro }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-5">
                                            <button type="button" class="btn btn-danger pull-center"
                                                    data-dismiss="modal">
                                                Cancelar
                                            </button>
                                            <button class="btn btn-primary pull-center" onclick="criacaoCargo()">
                                                Guardar
                                            </button>
                                        </div>
                                    </div>
                                </form>
                                <hr>

                            </div>
                        </div>
                    </div>
                </div>
                
{% endblock %}
