﻿{% if user.is_authenticated %}

<form id="logoutForm" action="/logout" method="post" class="navbar-right">
    {% csrf_token %}
    <ul class="nav navbar-nav navbar-right">
        <li><span class="navbar-brand">Benvindo {{ user.username }}!</span></li>
        <!--Para ocultar butões a tipos de ulizadores sem permissões-->
        {% if user.is_superuser %}
        <li><a href="http://localhost:8000/admin/" <span class="glyphicon glyphicon-user"></span> Admin</a></li>
        {% endif %}
        <li><a href="javascript:document.getElementById('logoutForm').submit()" onclick="return logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>    
    </ul>
</form>
<!--Para ocultar butões a tipos de ulizadores sem permissões-->
{% if not user.is_superuser %}
<style type="text/css">
    #butoesOp {
        display:none;
    }
    #patrulhaExpButon{
        display:none;
    }
    #pesqPatrulhaPion{
        display:none;
    }
    #criarDirigente{
        display:none;
    }
    #inscriCam {
        display:none;
    }
    #criarPioneiro{
        display:none;
    }
    #criarCargoPion{
        display:none;
    }
    #criarPatrulhaPion{
        display:none;
    }
    #patrulhaPionButon{
        display:none;
    }
    #criarExplorador{
        display:none;
    }
    #criarCargoExp{
        display:none;
    }
    #criarPatrulhaExp{
        display:none;
    }
    #pesqPatrulhaExp{
        display:none;
    }
      #bttInsc {
        display: none;
    }
    #biScout {
        display: none;
    }
    #pequisaEscut {
        display: none;
    }
    #inscricLob {
        display: none;
    }
    #bandoLob {
        display: none;
    }
    #inscriCam {
        display: none;
    }
    #inscriPio {
        display: none;
    }
    #inscriExp {
        display: none;
    }
    #patrulhaExp {
        display: none;
    }
    #patrulhaPion {
        display: none;
    }#pesqband {
        display: none;
    }#criarBando{
         display: none;
    }
    #pesqbtt {
        display: none;
    }
    #criarCargoLob {
        display: none;
    }
    #criarLobito{
        display:none;
    }
</style>
{% endif %}


{% else %}
<ul class="nav navbar-nav navbar-right">
    <li><a data-toggle="modal" data-target="#modalCriarUtilizador"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
    <li><a href="{% url 'login' %}"> <span class="glyphicon glyphicon-log-in"></span>  Log in</a></li>
</ul>
<!--Para ocultar butões a quem não tiver feito o login -->
<style type="text/css">
    #minhasInfo{
        display:none;
    }
    #butoesOp {
        display:none;
    }
    #patrulhaExpButon{
        display:none;
    }
    #pesqPatrulhaPion{
        display:none;
    }
    #criarDirigente{
        display:none;
    }
    #inscriCam {
        display:none;
    }
    #criarPioneiro{
        display:none;
    }
    #criarCargoPion{
        display:none;
    }
    #criarPatrulhaPion{
        display:none;
    }
    #patrulhaPionButon{
        display:none;
    }
    #criarExplorador{
        display:none;
    }
    #criarCargoExp{
        display:none;
    }
    #criarPatrulhaExp{
        display:none;
    }
    #pesqPatrulhaExp{
        display:none;
    }
    #criarLobito{
        display:none;
    }
    #bttInsc {
        display: none;
    }
    #biScout {
        display: none;
    }
    #pequisaEscut {
        display: none;
    }
    #inscricLob {
        display: none;
    }
    #bandoLob {
        display: none;
    }
    #inscriCam {
        display: none;
    }
    #inscriExp{
        display: none;
    }
    #inscriPio {
        display: none;
    }
    #patrulhaExp {
        display: none;
    }
    #patrulhaPion {
        display: none;
    }#pesqband {
        display: none;
    }#criarBando{
         display: none;
    }
    #pesqbtt {
        display: none;
    }
    #criarCargoLob {
        display: none;
    }
</style>
{% endif %}
