{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            <form action="." method="post" class="form-horizontal">
                {% csrf_token %}
                <h4>Utilize uma conta local para fazer o log in.</h4>
                <hr />
                <div class="form-group">
                    <label for="id_username" class="col-md-2 control-label">User name</label>
                    <div class="col-md-10">
                        {{ form.username }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_password" class="col-md-2 control-label">Password</label>
                    <div class="col-md-10">
                        {{ form.password }}
                    </div>
                    <div class="col-md-10">
                     <a id="esqueceuSenha" class="login"
                     data-toggle="modal" data-target="#modalEsqueceuSenha" >Esqueceu sua senha?</a>
                </div>
                </div>
                
                <div class="form-group">

                    <div class="col-md-offset-2 col-md-10">
                        <input type="hidden" name="next" value="/" />
                        <input type="submit" value="Log in" class="btn btn-default" />
                    </div>
                
                </div>
                {% if form.errors %}
                <p style="color:red" class="validation-summary-errors">Por favor introduza o username e a password corretamente!</p>
                {% endif %}
            </form>
        </section>
    </div>
    <div class="col-md-4">
        <section id="socialLoginForm"></section>
    </div>
</div>

<!-- Modal Esqueceu senha-->
<div class="modal fade" id="modalEsqueceuSenha" tabindex="-1" role="dialog"
                         aria-labelledby="criarContaLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <button type="button" class="close"
                                            data-dismiss="modal">
                                        <span aria-hidden="true">&times;</span>
                                        <span class="sr-only">Close</span>
                                    </button>
                                    <h4 class="modal-title" id="esqueceuSendhaLabel">
                                        Recuperação da Senha
                                    </h4>
                                </div>

                                <!-- Modal Body -->
                                <div class="modal-body">
                                    <form class="form-horizontal">
                                        <div class="form-group">                                      
                                            <div class="col-xs-6">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                                <input class="form-control" name="user_rec" id="user_rec" placeholder="e-mail" required="" type="email">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                <button type="button" class="btn btn-danger pull-center"
                                                        data-dismiss="modal">
                                                    Cancelar
                                                </button>
                                                <button class="btn btn-primary pull-center" onclick="recuperarPassword()" datta-dismiss="modalEsqueceuSenha">
                                                    Recuperar Senha
                                                </button>
                                            </div>
                                        </div>

                                    </form>
                                    <hr>

                                </div>
                            </div>
                        </div>
                    </div>


{% endblock %}


{% block scripts %}

    {% load staticfiles %}
<script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>

{% endblock %}
