﻿{% extends "app/layout.html"%}
{% block content %}
<p>Pesquisou por: <strong>{{ query }}</strong></p>
{% if scouts %}
<p>Encontrou {{ scouts|length }}</p>
<ul>
    <li>Nome: {{ scouts.nome }} {{ scouts.sobrenome }}</li>
    <li>E-mail: {{ scouts.email }}</li>
    <li>Telefone: {{ scouts.telefone }}</li>
    <li>Data de Nascimento: {{ scouts.data_nasc }}</li>
    <li>BI: {{ scouts.bi }}</li>
    <li>Path_Foto: {{ scouts.foto }}</li>
</ul>
{% else %}
    <p>Não foi encontrado nenhum resultado.</p>
{% endif %}
{% endblock %}