﻿{% extends "app/layout.html"%}
{% block content %}
<p>Pesquisou por: <strong>{{ query }}</strong></p>
{% if bands %}
<p>Encontrou {{ bands|length }} bando{{ bands|pluralize }}.</p>
<ul>

   {% for bando in bands %}
    <li>{{ bando.nome }}</li>
    <ul>
        <li> 
            <p>Número de Elementos:
                {{ bando.elementos }}
            </li>
            </p>
        <p>Lobitos pertencentes ao Bando: </p>
        <ul>
            
                {% for lobs in bando.lobitos.all %}
                    <li>{{ lobs }}</li>
                {% endfor %}
           
        </ul>
        
    </ul>

    {% endfor %}
</ul>

{% else %}
    <p>Não foi encontrado nenhum resultado.</p>
{% endif %}
{% endblock %}